# Supabase 配置
VITE_SUPABASE_URL=https://wskvfcntvukubzavbbkv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_bdAR7OSmL6gaQhOBoJ9tKQ_ILUzqsEB
# XLayer 合约地址（部署 contracts/YunqianNotes.sol 后填入）
VITE_CONTRACT_ADDRESS=0x0277D3A6DEa35ba6d9585E1AF155779736FFBe25
